<head>
	<title>camp</title>
	<style>
		td{
			width: 50%;
			height: 300px;
			vertical-align: middle;
		}
		td > img{
			width: 90%;
			height: 90%;
			margin: 4%;
			padding: 1%;
			border:1px solid #CCC;
			border-radius: 5px;
		}
		.scale img{
			transition: all 0.3s linear;
		}
		.scale img:hover{
			transform: scale(1.05); 
		}
	</style>
</head>

<dody>
	<div class="container" style="width: 100%;padding: 0px;">
		<img ng-src="{{headerBackground.url}}" style="width: 100%;height: {{headerBackground.height}}px;">
		<div class="showTitle">
			<span>{{camp.title}}</span>
			<div class="arrow"></div>
		</div>
	</div>

	<div class="container text_center">
		<h3 class="summary_title padding_title">{{camp.title}}</h3>
		<p class="summary_desc">{{camp.desc}}</p>
	</div>

	<div class="container">
		<h3 class="text_center padding_title">
			<span class="active_title ">&nbsp精彩瞬间&nbsp</span>
		</h3>
		<div class="row">
			<table>
				<tr ng-repeat="act in actions" class="scale">
					<td ng-if="$even">{{act.desc}}</td>
					<td ng-if="$even"><img src="{{act.imgUrl}}"></td>
					<td ng-if="$odd"><img src="{{act.imgUrl}}"></td>
					<td ng-if="$odd">{{act.desc}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container" style="padding-bottom: 50px; ">
		<h3 class="text_center padding_title">
			<span class="active_title ">&nbsp总结&nbsp</span>
		</h3>
		<div class="row">
			<p class="summary_desc">{{summary}}</p>
		</div>
	</div>
</dody>

