<head>
	<title>乡村医疗</title>
	<style type="text/css">
		.pImg{
			width: 100%;
			height: 400px;
			text-align: center;
		}
		.pImg img{
			width: 80%;
			height: 100%;
			border:1px solid #CCC;
			padding: 3px;
		}
		table{
			width: 80%;
			border:1px solid #CCC;
			margin: 0 auto;
		}
		tr,td,th{
			border:1px solid #CCC;	
			text-align: center;
			text-indent: 0px;
			padding: 5px 0;
			font-size: 16px;
		}

		.bookBox{
			width: 900px;
			height: 800px;
			position: relative;
			background: #339999;
		}
		.bookBox > div{			
			position: absolute;
			top:5%;
			left: 50%;
			border:1px solid #CCC;
			width: 40%;
			height: 90%;
			transition: all 2s;
			transform: rotateX(40deg);
			transform-origin: 0px 0px;
			transform-style: preserve-3d;
			background: white;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		/*.bookBox > div:hover{
			transform: rotateX(40deg) rotateY(180deg);
		}*/
		.bookBox p{
			font-size: 20px;
			text-align: center;
			
		}
	</style>
</head>
<body>
	<div class="container" style="width: 100%;padding: 0px;">
		<img ng-src="{{headerBackground.url}}" style="width: 100%;height: {{headerBackground.height}}px;">
		<div class="showTitle">
			<span>{{doctor.title}}</span>
			<div class="arrow"></div>
		</div>
	</div>
	<div class="container text_center">
		<h3 class="summary_title padding_title">{{doctor.title}}</h3>
		<p class="summary_desc text_index_2">{{doctor.desc}}</p>
	</div>

	<div class="container">
		<h3 class="text_center padding_title">
			<span class="active_title ">&nbsp{{design.title}}&nbsp</span>
		</h3>
		<div class="row">
			<div class="col-md-12">
				<p class="text_index_2">{{design.descs[0]}}</p>
				<p class="text_index_2">{{design.descs[1]}}</p>
				<p class="pImg"><img ng-src="{{design.imgUrl}}"></p>
				<p class="text_index_2">{{design.descs[2]}}</p>
				<p class="text_index_2">{{design.descs[3]}}</p>
			</div>
		</div>
	</div>

	<div class="container">
		<h3 class="text_center padding_title">
			<span class="active_title ">&nbsp{{train.title}}&nbsp</span>
		</h3>
		<div class="row">
			<p ng-repeat="desc in train.descs" class="text_index_2">{{desc}}</p>
		</div>
		<div class="row">
			<table>
				<tr>
					<th style="width: 10%;">时间</th>
					<th style="width: 30%;">地点</th>
					<th style="width: 30%;">事项</th>
					<th style="width: 30%;">事项内容</th>
				</tr>
				<tr ng-repeat="plain in train.plains">
					<td>{{plain.time}}</td>
					<td>{{plain.add}}</td>
					<td>{{plain.content}}</td>
					<td>{{plain.desc}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container">
		<h3 class="text_center padding_title">
			<span class="active_title">&nbsp{{raise.title}}&nbsp</span>
		</h3>
		<div class="row">
			<p ng-repeat="desc in raise.descs" class="text_index_2">{{desc}}</p>
		</div>
		<div class="row">
			<table>
				<tr>
					<th style="width: 10%;">#</th>
					<th style="width: 40%;">物品</th>
					<th style="width: 20%;">单位及总需</th>
					<th style="width: 10%;">数量</th>
					<th style="width: 10%;">单价</th>
					<th style="width: 10%;">小计</th>
				</tr>
				<tr ng-repeat="plain in raise.plains">
					<td>{{$index}}</td>
					<td>{{plain.thing}}</td>
					<td>{{plain.unit}}</td>
					<td>{{plain.count}}</td>
					<td>{{plain.price}}</td>
					<td>{{plain.money}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container">
		<h3 class="text_center padding_title">
			<span class="active_title">&nbsp{{action.title}}&nbsp</span>
		</h3>
		<div class="row bookBox">
			<!-- <div><h3>END</h3></div> -->
			<div ng-repeat="act in action.acts" ng-click="action.doPage(act)" data-act="{{act}}">{{act}}</div>
			<!-- <div><h3>随行笔记</h3></div> -->
		</div>
	</div>
</body>