<!DOCTYPE html>
<html>
<head>
	<title>workbench</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">  
	<link rel='stylesheet' href='/zhixin/stylesheets/style.css' />
</head>
<body >
	<p>请稍等...</p>
	<script type="text/javascript" src="/zhixin/resource/jquery.js"></script>
	<script type="text/javascript">
		function isIE() { //ie?
			if (!!window.ActiveXObject || "ActiveXObject" in window)
				return true;
			else
				return false;
		}

		if(isIE()){
			window.location.href="/zhixin/notIE";
		}else{
			window.location.href="/zhixin/workbench"	
		}
	</script>
</body>
</html>
