<!DOCTYPE html>
<html>
<head>
	<title>workbench</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/resource/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style type="text/css">
		
        .nav > li .dropdown-menu {  
            margin: 0;  
        }  
         .nav > li:hover .dropdown-menu {  
            display: block;  
        }  
        .footer{
        	background: #000;
        	color: #CCC;
        	padding: 0 0 10px;
        }
      	.widget_title{
      		font-size: 16px;
      		margin: 20px 0;
      		text-transform: uppercase;
      		line-height: 22px;
      		color:#FFF;
      	}
      	.app_title{
      		font-size: 20px;
      		line-height: 42px;
      		text-align: left;
      		font-family: 楷体;
      	}
	</style>
</head>
<body ng-app="app" ng-controller='appCtl' style="overflow-x: hidden;">
	<div id="workbench_header" style="position: fixed;top: 0px;margin: 0 auto;width: 100%;background: white;z-index: 999;box-shadow: 0px 2px 10px 2px #CCC;">
		<div class="container" style="padding: 10px 0px 5px;">
			<nav class="row" >
				<div class="col-md-6 col-sm-6 col-xs-6" >
					<div class="col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
						<img ng-src="{{appMsg.logoUrl}}" style="height: 42px;width: 42px; ">
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<p class="app_title">{{appMsg.title}}</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<ul class="nav nav-pills" style="font-size: 16px;">
					  	<li ng-repeat="ele in menuList" class="dropdown">
					  		<a ng-show="ele.hasChild" class="dropdown-toggle" data-toggle="dropdown" href="{{ele.url}}">{{ele.menuName}}</a>
					  		<ul ng-show="ele.hasChild" class="dropdown-menu">
					  			<li ng-repeat="child in ele.children">
					  				<a href="{{child.url}}">{{child.menuName}}</a>
					  			</li>
					  		</ul>			  			
				  			<a ng-show="ele.noChild" href="{{ele.url}}">{{ele.menuName}}</a>				  		
					  	</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	
	
	<div id="content">
		<div ng-view ></div>	
	</div>
	
	<div class="footer">
		<div class="row" style="padding: 40px 0px 40px;text-align: center;background: blue;">
			<h3 ng-click="exportXlsx()" style="cursor: pointer;">导出报表</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<h5 class="widget_title">
						开发者选择项
					</h5>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					<h5 class="widget_title">关于{{appMsg.title}}</h5>
					<p>
						{{appMsg.summary}}
					</p>

					<h5 class="widget_title">加入我们</h5>

					<p class="col-md-3 col-sm-3 col-xs-3" style="text-align: center;" ng-repeat="pic in picList">
						<img ng-src="{{pic.url}}" class="img-responsive" style="margin: 0 auto 10px;" alt="{{pic.name}}">
						<span>{{pic.name}}</span>
					</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<h5 class="widget_title">
						联系我们
					</h5>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/resource/jquery.js"></script>
	<script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/resource/angular.js"></script>
	<script type="text/javascript" src="/resource/angualr-router.js"></script>
	<script type="text/javascript" src="/javascripts/workbench.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript" src="/javascripts/news.js"></script>
	<script type="text/javascript" src="/javascripts/contact.js"></script>
	<script type="text/javascript" src="/javascripts/camp.js"></script>
	<script type="text/javascript" src="/javascripts/doctor.js"></script>
</body>
</html>